name: Use hall monitor to see if any servers are down
on:
  workflow_dispatch:
  schedule:
    # run once every 30 minutes
    # * is a special character in YAML so you have to quote this string
    - cron:  "0,30 0-5,7-23 * * *"

jobs:
  apps-dev-monitor:
    runs-on: ubuntu-latest
    name: Check apps-dev for misinstalled interviews
    steps:
      - uses: SuffolkLITLab/ALActions/hall_monitor@main
        with:
          SERVER_URL: "https://apps-dev.suffolklitlab.org"
          CHECK_TYPE: "all"
          SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
          ERROR_EMAILS: ${{ secrets.ERROR_NOTIFY_EMAILS }} 
          ERROR_EMAIL_FROM: no-reply@suffolklitlab.org
          TEAMS_MONITOR_WEBHOOK: ${{ secrets.TEAMS_MONITOR_WEBHOOK }}
      - run: echo "Finished running monitor for dev"
  apps-test-monitor:
    runs-on: ubuntu-latest
    name: Check apps-test for misinstalled interviews
    steps:
      - uses: SuffolkLITLab/ALActions/hall_monitor@main
        with:
          SERVER_URL: "https://apps-test.suffolklitlab.org"
          CHECK_TYPE: "all"
          SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
          ERROR_EMAILS: ${{ secrets.ERROR_NOTIFY_EMAILS }} 
          ERROR_EMAIL_FROM: no-reply@suffolklitlab.org
          TEAMS_MONITOR_WEBHOOK: ${{ secrets.TEAMS_MONITOR_WEBHOOK }}
      - run: echo "Finished running monitor for test"
  apps-prod-monitor:
    runs-on: ubuntu-latest
    name: Check apps.suffolk for misinstalled interviews
    steps:
      - uses: SuffolkLITLab/ALActions/hall_monitor@main
        with:
          SERVER_URL: "https://apps.suffolklitlab.org"
          CHECK_TYPE: "all"
          SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
          ERROR_EMAILS: ${{ secrets.ERROR_NOTIFY_EMAILS }} 
          ERROR_EMAIL_FROM: no-reply@suffolklitlab.org
          TEAMS_MONITOR_WEBHOOK: ${{ secrets.TEAMS_MONITOR_WEBHOOK }}
      - run: echo "Finished running monitor for Suffolk prod"
  mi-monitor:
    runs-on: ubuntu-latest
    name: Check forms.michiganlegalhelp.org for misinstalled interviews
    steps:
      - uses: SuffolkLITLab/ALActions/hall_monitor@main
        with:
          SERVER_URL: "https://forms.michiganlegalhelp.org/"
          CHECK_TYPE: "all"
          SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
          ERROR_EMAILS: ${{ secrets.ERROR_NOTIFY_EMAILS }} 
          ERROR_EMAIL_FROM: no-reply@suffolklitlab.org
          TEAMS_MONITOR_WEBHOOK: ${{ secrets.TEAMS_MONITOR_WEBHOOK }}
      - run: echo "Finished running monitor for MI prod"
  mi-dev-monitor:
    runs-on: ubuntu-latest
    name: Check da-dev.mplp.org for misinstalled interviews
    steps:
      - uses: SuffolkLITLab/ALActions/hall_monitor@main
        with:
          SERVER_URL: "https://da-dev.mplp.org/"
          CHECK_TYPE: "homepage"
          SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
          ERROR_EMAILS: ${{ secrets.ERROR_NOTIFY_EMAILS }} 
          ERROR_EMAIL_FROM: no-reply@suffolklitlab.org
          TEAMS_MONITOR_WEBHOOK: ${{ secrets.TEAMS_MONITOR_WEBHOOK }}
      - run: echo "Finished running monitor for MI dev"
  mn-prod-monitor:
    runs-on: ubuntu-latest
    name: Check Minnesota's server for misinstalled interviews
    steps:
      - uses: SuffolkLITLab/ALActions/hall_monitor@main
        with:
          SERVER_URL: "https://docs.lawhelpmn.org"
          CHECK_TYPE: "homepage"
          SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
          ERROR_EMAILS: ${{ secrets.ERROR_NOTIFY_EMAILS }} 
          ERROR_EMAIL_FROM: no-reply@suffolklitlab.org
          TEAMS_MONITOR_WEBHOOK: ${{ secrets.TEAMS_MONITOR_WEBHOOK }}
      - run: echo "Finished running monitor for MN prod"
  vt-prod-monitor:
    runs-on: ubuntu-latest
    name: Check Vermont's server for misinstalled interviews
    steps:
      - uses: SuffolkLITLab/ALActions/hall_monitor@main
        with:
          SERVER_URL: "https://apps.vtcourtforms.org"
          CHECK_TYPE: "homepage"
          SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
          ERROR_EMAILS: ${{ secrets.ERROR_NOTIFY_EMAILS }} 
          ERROR_EMAIL_FROM: no-reply@suffolklitlab.org
          TEAMS_MONITOR_WEBHOOK: ${{ secrets.TEAMS_MONITOR_WEBHOOK }}
      - run: echo "Finished running monitor for VT prod"
  ak-prod-monitor:
    runs-on: ubuntu-latest
    name: Check Alaska's server for misinstalled interviews
    steps:
      - uses: SuffolkLITLab/ALActions/hall_monitor@main
        with:
          SERVER_URL: "https://courtguide.akcourts.gov"
          CHECK_TYPE: "homepage"
          SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
          ERROR_EMAILS: ${{ secrets.ERROR_NOTIFY_EMAILS }} 
          ERROR_EMAIL_FROM: no-reply@suffolklitlab.org
          TEAMS_MONITOR_WEBHOOK: ${{ secrets.TEAMS_MONITOR_WEBHOOK }}
      - run: echo "Finished running monitor for AK prod"
  ilao-prod-monitor:
    runs-on: ubuntu-latest
    name: Check ILAO PROD server is still running
    steps:
      - uses: SuffolkLITLab/ALActions/hall_monitor@main
        with:
          SERVER_URL: "https://easyforms.illinoislegalaid.org"
          CHECK_TYPE: "homepage"
          SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
          ERROR_EMAILS: ${{ secrets.ERROR_NOTIFY_EMAILS }} 
          ERROR_EMAIL_FROM: no-reply@suffolklitlab.org
          TEAMS_MONITOR_WEBHOOK: ${{ secrets.TEAMS_MONITOR_WEBHOOK }}
      - run: echo "Finished running monitor for ILAO prod"
  ilao-dev-monitor:
    runs-on: ubuntu-latest
    name: Check ILAO Dev server for misinstalled interviews
    steps:
      - uses: SuffolkLITLab/ALActions/hall_monitor@main
        with:
          SERVER_URL: "https://dev-easyforms.illinoislegalaid.org"
          CHECK_TYPE: "all"
          SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
          ERROR_EMAILS: ${{ secrets.ERROR_NOTIFY_EMAILS }} 
          ERROR_EMAIL_FROM: no-reply@suffolklitlab.org
          TEAMS_MONITOR_WEBHOOK: ${{ secrets.TEAMS_MONITOR_WEBHOOK }}
      - run: echo "Finished running monitor for ILAO Dev"
